/* Header Left */
.left-section-ol a span {
  letter-spacing: 2px;
  font-size: 24px;
  color: rgb(98, 98, 98);
  font-weight: 550;
}
.left-section-ol i {
  display: none;
  font-size: 22px;
  margin-right: 0.7em;
  cursor: pointer;
}
/* Header Middle */
.header-middle .middle-section-ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
}

.header-middle .middle-section-ol li {
  list-style-type: none;
}

.header-middle li a,
.header-middle li button {
  font-size: 16px;
  color: rgb(98, 98, 98);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-middle li a:hover,
.header-middle li button:hover {
  color: #606060;
}
/* header widnows */
.show-window-getPrescription-off,
.show-window-sunGlasses-off,
.show-window-eyeGlasses-off,
.show-window-homeTryOn-off {
  display: none;
}
.show-window-getPrescription,
.show-window-sunGlasses,
.show-window-eyeGlasses,
.show-window-homeTryOn {
  z-index: 30;
  background-color: white;
  top: 70px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  right: 20vw;
  padding: 50px;
  width: 55vw;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.153);
  border-radius: 10px;
  overflow: hidden;
}
.show-window-getPrescription,
.show-window-sunGlasses,
.show-window-eyeGlasses {
  width: 40vw;
  right: 30vw;
}
.show-window-getPrescription .glasses-window-section,
.show-window-sunGlasses .glasses-window-section,
.show-window-eyeGlasses .glasses-window-section,
.show-window-homeTryOn .glasses-window-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.glasses-window-section p {
  font-weight: bold;
}
.glasses-window-section div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.glasses-window-section div a {
  font-size: 14px;
  font-weight: 100;
  color: rgb(98, 98, 98);
  position: relative;
  transition: 0.05s;
}
.glasses-window-section div a:hover {
  margin-left: 3px;
}

.windowImages {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 50vh;
}

.show-window-sunGlasses .windowImages,
.show-window-eyeGlasses .windowImages {
  width: 80%;
}
.image-window-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-window-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-window-section .window-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: rgb(98, 98, 98);
  font-size: 14px;
  font-family: Arial;
  font-weight: 600;
  line-height: 20px;
  padding-inline: 16px;
  padding-block: 6px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

/* Header Right */
.header-right .right-section-ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}
.header-right button span {
  color: #454545;
}
.header-right button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.header-right button:hover {
  background-color: #f2f2f2;
}

.header-right img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.header-right img:hover {
  transform: scale(1.1);
}

.header-right a {
  color: #454545;
  font-weight: normal;
  margin-left: 0;
  display: flex;
  align-items: center;
}

.header-right a:hover {
  color: #606060;
}

.header-right .sign-in-button {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
}
/* Media Query for 1200px and Below */
@media (max-width: 1250px) {
  .left-section-ol i {
    display: flex;
  }
  .header-middle {
    display: none;
  }
  .singInText {
    display: none;
  }
}
