.accessories-info-container {
  text-align: center;
}
.bestSelling-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  background: linear-gradient(to right, gray 45%, white 55%);
  margin-bottom: 50px;
  border-radius: 0;
}

.bestSelling-info-container {
  max-width: 40%;
}

.selling-header-container h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #333;
  max-width: 50px;
  margin: 0;
}
.selling-describtion-container {
  margin-top: 20px;
  color: rgb(161, 161, 161);
  font-size: 14px;
  font-weight: bold;
}

.selling-info {
  color: #f1a329; /* Matches the yellow-orange theme */
}
.selling-info-pr {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}
.selling-describtion {
  font-size: 14px;
  color: #d7d7d7;
  font-weight: bold;
}

.selling-shop-container {
  margin-top: 30px;
}
.selling-shop {
  display: inline-block;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #f1a329;
  padding-bottom: 3px;
  transition: all 0.3s ease;
}

.selling-shop:hover {
  color: #f1a329;
}

.fa-chevron-right {
  margin-left: 10px;
}
/* image */
.bestSelling-image-container {
  height: 100%;
  position: relative;
  max-width: 40%;
}
.bestSelling-image-container img {
  max-width: 100%;
  border-radius: 10px;
}

.threeDots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.imageDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
}

.dot-active {
  background-color: #f1a329;
}

/* Optional: Add a 50% badge */
.selling-badge {
  position: absolute;
  top: 20px;
  right: -40px;
  background-color: #f1a329;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50%;
  transform: rotate(-15deg);
}
.image-off {
  display: none;
}
.image-on {
  display: flex;
}
.image-dot-js {
  cursor: pointer;
}
