h4,
p {
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cartProducts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  width: 60%;
  margin-top: 50px;
}
.productContainer {
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 250px;
  background-color: white;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
}
.product-remove {
  position: absolute;
  right: 10px;
  transform: translate(0, +10%);
}
.product-remove button {
  border: none;
  background: none;
  font-size: 15px;
}
.image-container {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.image-container img {
  max-width: 400px;
  width: 100%;
}
.product-update {
  margin-top: -10px;
}
.product-update button {
  border: 1px solid lightgray;
  background-color: rgba(0, 110, 165, 1);
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  transition: 0.2s;
}
.product-update button:hover {
  background-color: rgb(1, 102, 153);
}
.product-update .save-btn {
  display: none;
}
.product-info-container {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-info-container span {
  font-size: 15px;
  color: rgb(65, 65, 65);
  font-weight: lighter;
}
/* payment summary */

.payment-order-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  margin-top: 40px;
  width: 59vw;
  background-color: white;
}

.payment-order-container p {
  font-size: 14px;
}
.order-summary {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}
.order-total {
  padding-top: 20px;
}
.order-summary,
.order-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.order-total div,
.order-summary div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.order-total p {
  font-size: 20px;
  color: rgb(194, 2, 2);
  font-weight: bolder;
}
.price {
  text-align: end;
}
.place-order-button-container {
  padding-bottom: 30px;
  padding-top: 30px;
}
.place-order-button-container button {
  background-color: rgb(194, 2, 2);
  color: white;
  border: 1px solid lightgray;
  padding: 15px 29px;
  border-radius: 5px;
  transition: 0.1s;
}
.place-order-button-container button:hover {
  background-color: rgb(188, 2, 2);
}
@media (max-width: 850px) {
  .cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cartProducts {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .productContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 60%;
  }
}
