.containerOfUse {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}
h3 {
  font-size: 30px;
}
h4 {
  line-height: 26px;
}
li,
p {
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: rgb(132, 204, 228);
  transition: 0.2s;
}
a:hover {
  color: rgb(113, 175, 196);
}
