/* main */
main {
  position: relative;
  display: flex;
  height: 80vh;
}
main img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .home-container {
  position: relative;
  width: 450px;
  bottom: 20px;
  left: 40%;
  top: 20%;
  transform: translateX(-100%);
  z-index: 10;
  color: rgb(98, 98, 98);
  font-size: 14px;
  font-family: Arial;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}
.home-container p {
  color: rgb(210, 70, 70);
  font-size: 2.2em;
  line-height: 35px;
  font-weight: bold;
}
.home-container .main-buttons button {
  background-color: rgba(0, 73, 117, 1);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.home-container .main-buttons button:hover {
  background-color: rgb(0, 58, 95);
}
.home-container a {
  color: rgb(210, 70, 70);
  transition: 0.2s;
}
.home-container a:hover {
  color: rgb(190, 70, 70);
}

/* home footer */
.home-footer-info {
  background-color: rgb(209, 238, 248);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer-info p {
  color: rgb(80, 119, 129);
  letter-spacing: 0.4px;
  font-weight: bold;
  font-size: 13px;
}

/* propducts line */

.glasse-choose {
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glasse-choose h2 {
  color: rgb(98, 98, 98);
}
.glasses-buttons {
  border: none;
  height: 40px;
  border-radius: 40px;
  display: flex;
  background-color: rgb(237, 235, 235);
  justify-content: space-around;
  padding: 3.9px;
  align-items: center;
  gap: 10px;
}
.glasses-buttons button {
  font-weight: bolder;
  color: rgb(98, 98, 98);
  border: none;
  height: 100%;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  background-color: rgb(237, 235, 235);
  cursor: pointer;
}
.glasses-buttons .active {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.153);
}

/* products */
.products {
  display: flex;
  gap: 50px; /* Set the desired gap between products */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-bottom: 50px;
}

.products::-webkit-scrollbar {
  display: none;
}
/* video */
.video-container {
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.warbyparker-video {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.videoInfo {
  color: white;
  position: absolute;
  left: 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoText {
  max-width: 400px;
}
.videoButton button {
  display: flex;
  align-items: center;
  background-color: rgba(0, 110, 165, 1);
  padding: 13px 100px;
  height: 48px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
}
/* learnmore */

.learmore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learmore-container p {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.learmore-container button {
  display: flex;
  align-items: center;
  background-color: rgba(0, 110, 165, 1);
  padding: 13px 100px;
  height: 48px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
}
.get-sale-container,
.new-frames-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 12vw;
  align-items: center;
}
.sale-image-container,
.new-frames-image-container {
  object-fit: cover;
  width: 35vw;
  max-height: 393px;
}
.sale-image,
.new-frames-image {
  width: 100%;
  height: 100%;
}
/* get sale */
.sale-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.info-text {
  max-width: 450px;
}
.info-text p,
.info-text h2 {
  color: rgb(98, 98, 98);
}
.info-text h2 {
  font-size: 20px;
}
.info-text p {
  font-size: 0.9em;
  font-weight: bolder;
}
.info-buttons {
  display: flex;
  gap: 20px;
}
.info-buttons button {
  background-color: rgba(0, 110, 165, 1);
  padding: 13px 24px;
  height: 48px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
/* differentPersons */
.differentPersons {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.persons-title p {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(98, 98, 98);
}
.persons {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 26vw;
}
.persons div {
  position: relative;
  height: 100%;
  width: 22.5vw;
}
.person-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.person-image button {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  border: none;
  background-color: white;
  padding: 9px 15px;
  border-radius: 25px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.custom-design-info {
  margin-top: 100px;
  background-color: rgba(0, 73, 117, 1);
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  justify-content: center;
  padding: 90px;
}
.custom-design-info a {
  margin-top: 30px;
  color: white;
  transition: 0.2s;
}
.custom-design-info a:hover {
  color: rgb(176, 176, 176);
}
/* pay-with-insurance */
.pay-with-insurance {
  background-color: rgb(224, 247, 255);
  display: flex;
  /* flex-direction: columnc; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 40px;
}
.pay-with-info {
  margin-left: -32px;
  display: flex;
  color: rgb(98, 98, 98);
  flex-direction: column;
  /* width: 80vw; */
  width: 40vw;
  align-items: start;
  text-align: start;
}
.pay-with-info p {
  margin-top: 0px;
  margin-bottom: 30px;
}
.pay-with-inputs {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.pay-with-inputs input {
  border-radius: 20px;
  border: 1px solid gray;
  width: 100%;
  padding: 20px;
  outline: none;
}
.pay-with-inputs input:hover {
  border: 1px solid rgb(89, 89, 89);
}
.pay-with-inputs button {
  background-color: rgba(0, 110, 165, 1);
  padding: 13px 39px;
  height: 48px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.pay-with-inputs button:hover {
  background-color: rgb(0, 87, 130);
}
/*pair purchased,  */

.pair-purchase {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 12vw;
  align-items: center;
}
.pair-purchase-info-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pair-purchase-info-container h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pair-purchase-info-container p {
  color: gray;
}
.pair-purchase-info-container a {
  font-weight: bold;
  color: rgb(48, 48, 255);
  transition: 0.2s;
}
.pair-purchase-info-container a:hover {
  color: rgb(38, 38, 192);
}

.people-image-container {
  object-fit: cover;
  width: 35vw;
  height: 35vw;
}

.people-image {
  width: 100%;
  height: 100%;
}
/* footer */

/* Media Query for 1200px and Below */
@media (max-width: 1200px) {
  .left-section-ol i {
    display: flex;
  }
  .header-middle {
    display: none;
  }
  .singInText {
    display: none;
  }
  main {
    height: 70vh;
  }
  main .home-container {
    width: 450px;
    left: 50%;
    top: 20%;
    transform: translateX(-100%);
  }
  .home-container p {
    font-size: 2.2em;
    line-height: 35px;
  }
  .pay-with-insurance {
    flex-direction: column;
  }
  .pay-with-info {
    width: 80vw;
  }
  .pay-with-inputs {
    width: 80vw;
  }
}
@media (max-width: 1000px) {
  .info-buttons {
    flex-direction: column;
  }
  .info-text h2 {
    width: 30vw;
    font-size: 15px;
  }
  .info-text p {
    font-size: 0.7em;
    font-weight: bolder;
  }
  main {
    height: 65vh;
  }
  main .home-container {
    width: 400px;
    left: 50%;
    top: 20%;
    transform: translateX(-100%);
  }
  .home-container p {
    font-size: 2.2em;
    line-height: 35px;
  }
}
@media (max-width: 850px) {
  main .home-container {
    left: 55%;
    transform: translateX(-100%);
  }
}
@media (max-width: 750px) {
  main .home-container {
    left: 65%;
    transform: translateX(-100%);
  }
}
